*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", serif;
  background-color: var(--cod-50-color);
  font-size: var(--font-size);
}

html,
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--text-color);
  position: relative;
}

ul,
li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
}
